<a class="card" href="{{ product.url }}">
  {%- if product.available == false -%}
    <span class="badge sold">SOLD OUT</span>
  {%- elsif product.compare_at_price > product.price -%}
    <span class="badge sale">SALE</span>
  {%- endif -%}
  <div class="thumb">
    {%- if product.featured_image -%}
      <img src="{{ product.featured_image | image_url: width: 600 }}" alt="{{ product.title | escape }}" loading="lazy" width="600" height="600"/>
    {%- endif -%}
  </div>
  <div class="meta">
    <div class="name">{{ product.title }}</div>
    <div class="price">
      {%- if product.compare_at_price > product.price -%}
        <s>{{ product.compare_at_price | money }}</s>
      {%- endif -%}
      {{ product.price | money }}
    </div>
  </div>
</a>
